.btn-azul{
    background-color: #004A8D;
}
.btn-amarelo{
    background-color: #f7941d;
}
.btn-visualizar{
    background-color: #004A8D;
}
.btn-lapis{
    background-color: #f7941d;
}
.imgSenac1{
    height: 100px;
    width:100px ;
}
